<!DOCTYPE html>
<html lang="en" data-ng-app="ShoppingListCheckOff">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
      body {
        font-size: 1.8em;
      }
    </style>
    <title>Shopping List</title>
  </head>

  <body>
    <div class="container">
      <h1 class="page-header text-center">Shopping List</h1>
      <div class="row">


      <div data-ng-controller="ToBuyController as buyList"
           class="col-sm-6">
        <h2 class="text-center">To Buy</h2>
        {{buyList.testValue}}
        <ol class="list-group">
          <li data-ng-repeat="item in buyList.items" class="list-group-item">
            <button class="btn btn-primary"
                    data-ng-click="buyList.checkOffItem($index)">
                    Bought
            </button>
            Buy {{item.quantity}} {{item.name}}
          </li>
          <li ng-if="buyList.items.length == 0"
              class="list-group-item list-group-item-success text-center">
              <span class="glyphicon glyphicon-ok"></span> Everything is bought!
          </li>
        </ol>
      </div>


      <div data-ng-controller="AlreadyBoughtController as boughtList"
           class="col-sm-6">
        <h2 class="text-center">Already Bought</h2>
        <ol class="list-group">
          <li data-ng-repeat="item in boughtList.items" class="list-group-item disabled">
            <span class="glyphicon glyphicon-ok"></span> {{item.quantity}} {{item.name}}
          </li>
          <li ng-if="boughtList.items.length == 0"
              class="list-group-item list-group-item-info text-center">
            <span class="glyphicon glyphicon-info-sign"></span> Nothing bought yet
          </li>
        </ol>
      </div>


    </div> <!-- end bootstrap .row -->

    </div> <!-- end bootstrap .container -->

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>

</html>
