<!DOCTYPE html>
<html lang="en" data-ng-app="LunchCheck">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="angular.min.js"></script>
  <!-- app.min.js is minified version of app.js -->
  <script src="app.min.js"></script>
  <title>Lunch Checker</title>
  <style>
  .output {
    font-weight: bold;
  }
  </style>
</head>

<body>
  <div class="container" data-ng-controller="LunchCheckController">
    <h1>Lunch Checker</h1>
    <!-- Placed inputs in a form for usability; textbox is autofocused
    and users can hit enter key to 'Check if too much'
  -->
    <form>
      <div class="form-group">
        <!-- Items not considered towards count: "", " ", or any variation of blank input, like "     ", -->
        <input class="form-control" type="text" data-ng-model="lunch" placeholder="Enter lunch items separated by commas"autofocus="true" style="border-color: {{lunchStatusColor}}" aria-describedby="lunch-list-help">
        <span id="lunch-list-help" class="help-block">Note: "", " ", or any varation of blank items DO NOT count towards the total item count.</span>
      </div>
      <div class="form-group">
        <button class="btn btn-default" type="submit" data-ng-click="checkLunch()">Check If Too Much</button>
      </div>
    </form>
    <div class="form-group">
      <p class="output" style="color: {{lunchStatusColor}}">{{lunchStatus}}</p>
    </div>
  </div>

</body>

</html>
